

.sectionHeader1 {
    background-color: #022873;
    border-color: #00bd7e;
    border-style: solid;
    color: #ffffff;
    display:flex;
    align-content: space-between;
}

.sectionHeader2 {
    background-color: #F2C063;
    border-color: black;
    border-style: solid;
}

.lenguages{
    margin-left: 2%;
    border-color: #00bd7e;
    border-style: solid;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBoxInput{
    width: 30%;
    display: flex;
    border-color: #00bd7e;
    border-style: solid;
    margin: 0 auto;
    justify-content: center;
    align-content: space-between;
}

.search{
    background: url(https://cdnO.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 100% 10%;
    background-size: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageLogoDiv{
    display: flex;
    border-color: #00bd7e;
    border-style: solid;
    justify-content: flex-start;
    align-items: center;
}

.user-div {
    display: flex;
    border-color: purple;
    border-style: solid;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.user-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav {
    align-content: center;
    justify-content: center;
    display: flex;
    width: 80%;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 auto;
}

nav a:hover {
    color: #e555;
    text-decoration: underline;
}


.sub-header {
    background-color:#F2C063;
    border-color: red;
    border-style: solid;
    display:flex;
    align-content: space-between;
}





.notification {
    display: flex;
    cursor: pointer;
    border-color: yellow;
    border-style: solid;
    justify-content: flex-start;
    align-items: center;
    left: 50%;
}

.notification-icon {
    display: flex;
    cursor: pointer;
    width: 50px;
    justify-content: flex-start;
    align-items: center;
}


.bar {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
}



footer{
    margin-top: 3%;
}

.sectionFooter2{
    background-color: #008fb6;
    color: #ffffff;
    height:50px;
    line-height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:0;
    width: 100%;
}

.sectionFooter1{
    background-color: #E2EEF7;
    color: #ffffff;
    height:50px;
    line-height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:50px;
    width: 100%;
}




