header {
    background-color: #008fb6;
    color: #ffffff;
    height: 50px;
}

.sectionHeader1{
    background-color: #008fb6;
    margin-left: 2%;
    color: #ffffff;
    height: 50px;
    display:flex;
    align-content: space-between;
}

.imageLogoDiv{
    display: flex;

    justify-content: flex-start;
    align-items: center;
}

.lenguages{
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchBoxInput{
    width: 30%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-content: space-between;
}

.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    background: url(https://cdnO.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 100% 10%;
    background-size: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.user-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
nav {
    align-content: center;
    justify-content: center;
    display: flex;
    width: 80%;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 auto;
}

nav a:hover {
    color: #e555;
    text-decoration: underline;
}

.sub-header {
    background-color: #2c3e50;
    width: 100%;
    height: 20%;
    top: 100%;
}

.hamburger-menu {
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
}





