/***************************************************/
/* Componente elementos perfil usuario */
/***************************************************/
.section-user2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bbbbbb' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.user-info-container2 {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bluesg);
    border: var(--fluorsg) solid 2px;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 1%;
    box-shadow: 0px 6px 24px 0px rgb(47, 47, 47);
    font-family: Inter, sans-serif;
    color: #ffffff;
}

.user-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-img2 {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 100px;
    border: 2px solid var(--fluorsg);
}

.user-data2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 160px;
}

.user-username2 {
    width: 100%;
    font-size: 30px;
    margin-top: 10px;
}

.user-email2 {
    width: 100%;
    font-size: 20px;
    margin-left: 10px;
}

/* Boton cambio contraseña */
.change-password-div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.change-password-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 130px;
    height: 15px;
    padding: 1%;
    background-color: #ffffff;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--fluorsg);
    font-size: 12px;
    text-decoration: none;
    color: #000000;

}

.change-password-button:hover{
    background-color: var(--greensg);
    box-shadow: 0px 6px 24px 0px var(--fluorsg);
    color: #000000;
}

/* Seccion poner nueva foto de perfil */
.change-photo-button {
    margin-top: 10px;
    color: #ffffff;
}

.change-photo-button:hover {
    color: var(--fluorsg);
}

/* Elemento pantalla overlay de cambiar foto */
.change-photo-div {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}
.change-photo-div:target {
    visibility: visible;
    opacity: 1;
}

.change-photo-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bluesg);
    border-radius: 20px;
    width: 500px;
    height: 150px;
    padding: 15px;
    position: relative;
}

.change-photo-main-div .close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.change-photo-main-div .close-button:hover {
    color: var(--fluorsg);
}

.new-photo-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100px;

    border: 2px solid var(--fluorsg);
}

.new-photo-input {
    margin: 10px;
}

.update-button {
    height: 100%;
    border-radius: 100px;
    background: none;
    padding: 1%;
    border: 2px solid var(--fluorsg);
    color: #ffffff;
}
.update-button:hover {
    background: var(--greensg);
    box-shadow: 0px 1px 10px 0px var(--fluorsg);
}

/***************************************************/
/* Componente editar usuario */
/***************************************************/
.line6 {
    width: 40%;
    height: 3px;
    background: var(--greensg);
}

.edit-user-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.4);
    font-family: Inter, sans-serif;
}

.name-div, .secondname-div, .username-div ,.email-div, .password-div, .password2-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
    width: 40%;
    font-size: 17px;
}

.name-span, .secondname-span, .email-span {
    width: 30%;
    margin-bottom: 15px;
}
.input-name, .input-secondname, .input-email {
    width: 97%;
    height: 25px;
    margin-left: 15px;
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid var(--greensg);
    box-shadow: inset 0px 5px 14px 0px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
}

.input-name:hover, .input-email:hover, .input-secondname:hover {
    background: rgba(131, 131, 131, 0.5);
}

.buttons-edit-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 40%;
}

.button-save {
    width: 200px;
    border-radius: 100px;
    padding: 1%;
    margin-right: 40px;
    background-color: #ffffff;
    border: 2px solid var(--fluorsg);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.button-save:hover {
    background-color: var(--greensg);
    box-shadow: 0px 6px 24px 0px var(--fluorsg);
}

.button-delete {
    width: 200px;
    border-radius: 100px;
    padding: 1%;
    margin-left: 40px;
    background-color: #ffffff;
    border: 2px solid #dcdcdc;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.button-delete:hover {
    background-color: #dcdcdc;
}

/***********************************************/
/*************Version mobile********************/
/***********************************************/
@media screen and (max-width: 825px) {

    .user-info-container2 {
        width: 90%;
        margin-top: 60px;
        padding: 10px;
    }

    .user-img2 {
        width: 70px;
        height: 70px;
    }

    .user-username2 {
        width: 80%;
        font-size: 20px;
        margin-top: 0px;
    }

    .user-email2 {
        display: none;
    }

    .user-data2 {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 70px;
        margin-left: 2%;
    }

    /***************************************************/
    /* Componente editar usuario */
    /***************************************************/
    .edit-user-section {
        height: 100%;
        margin-bottom: 20px;
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.4);
    }

    /* Boton cambio contraseña */
    .line6 {
        width: 70%;
    }

    .name-div, .secondname-div, .username-div ,.email-div, .password-div, .password2-div {
        margin-top: 20px;
        width: 70%;
    }

    .buttons-edit-div {
        margin-top: 40px;
        margin-bottom: 50px;
        width: 70%;
        margin-left: 25px;
    }

    .change-photo-main-div {
        width: 90%;
    }
}