.section-user3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 150px;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 0px 6px 24px 0px rgb(47, 47, 47);
    font-family: Inter, sans-serif;
    color: #000000;
}

.section-user3:hover {
    box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
    transition: color 0.5s ease;
}

.user-profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.edit-user-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
    border-radius: 20px;
    padding: 2%;
    margin: 40px 20% 2%;
    font-family: Inter, sans-serif;
    color: #000000;
    border-style: solid;
    border-color: #5CBB81;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.password-div, .new-password-div, .confirm-password-div {
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
}
.input-password, .input-new-password, .input-confirm-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;

    font-size: 15px;
    width: 50%;
    height: 30px;
    padding: 1%;
    background: rgba(131, 131, 131, 0.3);
    border: 2px solid #5CBB81;
    border-radius: 100px;
}

.input-password:hover, .input-new-password:hover, .input-confirm-password:hover {
    background: rgba(131, 131, 131, 0.5);
}

.buttons-edit-div2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    font-size: 15px;
}

.button-save2 {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    padding: 1%;
    background-color: #f2f2f2;
    border: 2px solid #5CBB81;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #5CBB81;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.button-save2:hover {
    background-color: #5CBB81;
    box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
    color: #ffffff;
}


/***********************************************/
/*************Version mobile********************/
/***********************************************/

@media screen and (max-width: 768px) {
    .section-user3 {
        padding: 2%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 60px;
    }

    .user-img3 {
        border-radius: 100%;
    }

    .user-text4 {
        width: 100%;
        height: 100%;
        margin-left: 18px;
        margin-top: 8px;
    }

    .edit-user-password {
        margin: 40px 5px 80px;
    }

    .password-div, .new-password-div, .confirm-password-div {
        font-size: 15px;
    }
    .input-password, .input-new-password, .input-confirm-password {
        font-size: 10px;
        width: 80%;
        height: 20px;
    }
}
