/***************************************************/
/* Componente elementos perfil usuario */
/***************************************************/
.section-user3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bbbbbb' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.user-info-container3 {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bluesg);
    border: var(--fluorsg) solid 2px;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 1%;
    box-shadow: 0px 6px 24px 0px rgb(47, 47, 47);
    font-family: Inter, sans-serif;
    color: #ffffff;
}

/***************************************************/
/* Componente editar contraseña */
/***************************************************/
.line6 {
    width: 40%;
    height: 3px;
    background: var(--greensg);
}

.edit-user-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.4);
    font-family: Inter, sans-serif;
}

.password-div, .new-password-div, .confirm-password-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
    width: 40%;
    font-size: 17px;
}

.password-span, .new-password-span, .confirm-password-span {
    width: 30%;
    margin-bottom: 15px;
}

.input-password, .input-new-password, .input-confirm-password {
    width: 97%;
    height: 25px;
    margin-left: 15px;
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid var(--greensg);
    box-shadow: inset 0px 5px 14px 0px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
}

.input-password:hover, .input-new-password:hover, .input-confirm-password:hover {
    background: rgba(131, 131, 131, 0.5);
}

.buttons-edit-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 40%;
}

.button-save2 {
    width: 100px;
    border-radius: 100px;
    padding: 1%;
    margin-right: 40px;
    background-color: #ffffff;
    border: 2px solid var(--fluorsg);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.button-save2:hover {
    background-color: var(--greensg);
    box-shadow: 0px 6px 24px 0px var(--fluorsg);
}


/***********************************************/
/*************Version mobile********************/
/***********************************************/
@media screen and (max-width: 825px) {

    .user-info-container3 {
        width: 90%;
        margin-top: 60px;
        padding: 10px;
    }

    .user-img3 {
        width: 80%;
        font-size: 20px;
        margin-top: 0px;
    }

    /***************************************************/
    /* Componente editar contraseña */
    /***************************************************/
    .edit-user-password {
        height: 100%;
        margin-bottom: 20px;
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.4);
    }

    .password-div, .new-password-div, .confirm-password-div {
        font-size: 15px;
    }
    .input-password, .input-new-password, .input-confirm-password {
        font-size: 10px;
        width: 80%;
        height: 20px;
    }

    .password-div, .new-password-div, .confirm-password-div {
        margin-top: 20px;
        width: 70%;
    }

    .password-span, .new-password-span, .confirm-password-span {
        width: 30%;
        margin-bottom: 15px;
    }

    .input-password, .input-new-password, .input-confirm-password {
        width: 97%;
        height: 25px;
        margin-left: 15px;
        padding-left: 5px;
        background: rgba(255, 255, 255, 0.3);
        border: 2px solid var(--greensg);
        box-shadow: inset 0px 5px 14px 0px rgba(0, 0, 0, 0.2);
        border-radius: 100px;
    }
}
