.section-user3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    background: #035AA6;
    border-radius: 20px;
    padding: 2%;
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 150px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: #E2EEF7;
}

.user-profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.user-img3 {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.user-text3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 8%;
}

.edit-profile-nav3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.edit-profile-button3 {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #f2f2f2;
    border: 2px solid #F25E7A;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #F25E7A;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.edit-profile-button3:hover{
    background-color: #F25E7A;
    color: #ffffff;
}

.edit-user-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
    border-radius: 20px;
    padding: 2%;
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 40px;
    font-family: Inter, sans-serif;
    color: #000000;
    border-style: solid;
    border-color: #F25E7A;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.line-div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #F25E7A;
    margin-bottom: 1%;
}

.password-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    font-size: 25px;
}
.input-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 20px;
    width: 30%;
    height: 30px;
    padding: 1%;
    background: rgba(131, 131, 131, 0.3);
    border: none;
    border-radius: 100px;
}

.input-password:hover {
    background: rgba(131, 131, 131, 0.5);
}

.new-password-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    font-size: 25px;
}
.input-new-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 20px;
    width: 30%;
    height: 30px;
    padding: 1%;
    background: rgba(131, 131, 131, 0.3);
    border: none;
    border-radius: 100px;
}

.input-new-password:hover {
    background: rgba(131, 131, 131, 0.5);
}

.confirm-password-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    font-size: 25px;
}
.input-confirm-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 20px;
    width: 30%;
    height: 30px;
    padding: 1%;
    background: rgba(131, 131, 131, 0.3);
    border: none;
    border-radius: 100px;
}

.input-confirm-password:hover {
    background: rgba(131, 131, 131, 0.5);
}

.buttons-edit-div2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
    font-size: 15px;
}

.button-save2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    padding: 1%;
    background-color: #f2f2f2;
    border: 2px solid #F25E7A;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #F25E7A;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.button-save2:hover {
    background-color: #F25E7A;
    color: #ffffff;
}
