/***************************************************/
/* Componente elementos perfil amigo */
/***************************************************/
.section-friend {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bbbbbb' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.friend-info-container {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bluesg);
    border: var(--fluorsg) solid 2px;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 1%;
    box-shadow: 0px 6px 24px 0px rgb(47, 47, 47);
    font-family: Inter, sans-serif;
    color: #ffffff;
}

.friend-profile-img {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 100px;
    border: 2px solid var(--fluorsg);
}

.friend-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 150px;
    margin-left: 5%;
}

.friend-profile-img {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 100px;
    border: 2px solid var(--fluorsg);
}


.friend-username {
    width: 100%;
    font-size: 30px;
    margin-top: 10px;
}

.friend-email {
    width: 100%;
    font-size: 20px;
}

/* Componente botones de amigo */
.friend-buttons-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.message-button {
    border-radius: 100px;
    padding: 1%;
    background-color: #ffffff;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    border: var(--fluorsg) solid 2px;
    color: #000000;
    text-decoration: none;
}

.message-button:hover {
    background-color: var(--greensg);
    box-shadow: 0px 6px 24px 0px var(--fluorsg);
}

.unfollow-button {
    border-radius: 100px;
    padding: 1%;
    background-color: #ffffff;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    border: var(--fluorsg) solid 2px;
}

.unfollow-button:hover {
    background-color: var(--greensg);
    box-shadow: 0px 6px 24px 0px var(--fluorsg);
}

/***************************************************/
/* Componente de listas y regalos */
/***************************************************/
.section-friend-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    box-shadow: 0px 6px 24px 0px rgb(47, 47, 47);
    font-family: Inter, sans-serif;
}

.friend-lists-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px 10px 20px;
}

.line3 {
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background-color: var(--greensg);
}

.lists-section {
    border-radius: 20px;
    box-shadow: inset 0px 5px 18px rgba(0, 0, 0, 0.5);
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2300ff8b' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.list-section-inside {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 380px;
    height: 500px;
    border-radius: 20px;
    overflow-y: auto;
}

.list-friend-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bluesg);
    border: 2px solid var(--bluesg);
    width: 95%;
    padding: 5px;
    border-radius: 20px;
    margin: 1%;
    color: #ffffff;
}

.list-friend-div:hover {
    box-shadow: 0px 6px 24px 0px var(--fluorsg);
}

.selected-list {
    background: rgb(244, 244, 244);
    color: black;
    border: 2px solid var(--fluorsg);
}

.description-list-friend-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 97%;
    height: 63px;
    overflow-y: auto;
    background: #ffffff;
    color: black;
    border: 2px solid var(--fluorsg);
    padding: 1%;
    border-radius: 20px;
}

.dates-friend-list {
    display: flex;
    justify-content: space-around;
    width: 95%;
    font-size: 12px;
}

/***************************************************/
/* Componente lista en vista */
/***************************************************/
.list-view-friend {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    width: 70%;
    margin: 10px 20px 10px 40px;
}

.description-view-friend-div {
    height: 70px;
    box-shadow: inset 0px 5px 12px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--fluorsg);
    border-radius: 20px;
    margin: 5px;
    overflow-y: auto;
}

.description-view-p {
    margin-left: 1%;
}

.gifts-list-friend-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 260px;
    margin: 5px;
    overflow-x: auto;
    border-radius: 20px;
    box-shadow: inset 0px 5px 18px rgba(0, 0, 0, 0.5);
    background: rgb(255, 255, 255);
}

.gifts-list-friend-section-inside {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 260px;
    border-radius: 20px;
    overflow-x: auto;
    margin: 5px;
}

.booking-button-gift-post {
    margin-top: 8px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid rgb(0, 255, 139);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.booking-button-gift-post.disabled, .booking-button-gift-post.disabled:hover {
    background: #ffffff;
    border: 2px solid #bebebe;
    box-shadow: none;
    color: #9b9b9b;
}

.booking-button-gift-post:hover {
    background: #5CBB81;
    border: 2px solid rgb(0, 255, 139);
    box-shadow: 0px 6px 24px 0px rgb(0, 255, 139);
}

.date-end-list-div {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}

.text-calendar-span {
    font-family: Inter, sans-serif;
    font-size: 15px;
    color: #49A25D;
    margin-right: 2%;
    margin-left: 2%;
}

.date-end-span {
    font-size: 14px;
    margin-right: 1%;
}


/***********************************************/
/*************Version mobile********************/
/***********************************************/
@media screen and (max-width: 825px) {
    .section-friend {
        width: 100%;
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bbbbbb' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    .friend-info-container {
        width: 90%;
        margin-top: 70px;
        margin-bottom: 40px;
    }

    .friend-profile-img {
        width: 70px;
        height: 70px;
    }

    .friend-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 70px;
    }

    .friend-username {
        width: 100%;
        font-size: 25px;
        margin-top: 00px;
    }

    .friend-email {
        display: none;
    }

    .friend-buttons-div {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;

    }

    .message-button {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    /***************************************************/
    /* Componente de listas y regalos */
    /***************************************************/
    .section-friend-items {
        flex-direction: column;
        margin-top: 0%;
        margin-left: 0px;
        border-radius: 0px;
        width: 100%;
    }

    .section-friend-items {
        margin-right: 0px;
    }

    .friend-lists-div {
        width: 100%;
        margin: 0;
    }

    .line3 {
        width: 95%;
    }

    .lists-section {
        width: 95%;
        padding: 5px;
    }

    .list-section-inside {
        flex-direction: row;
        width: 100%;
        height: unset;
        overflow-x: auto;
    }

    .list-friend-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 5px;
        border-radius: 20px;
        margin: 1%;
        color: #ffffff;
    }

    .selected-list {
        background: rgb(244, 244, 244);
        color: black;
        border: 2px solid var(--fluorsg);
    }

    .name-list-friend-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
    }

    .description-list-friend-div {
        width: 200px;
        height: 63px;
    }

    .dates-friend-list {
        width: 95%;
        font-size: 10px;
    }

    /***************************************************/
    /* Componente lista en vista */
    /***************************************************/
    .list-view-friend {
        align-items: center;
        width: 100%;
        margin: 0 0 40px;
    }

    .description-view-friend-div {
        width: 95%;
        height: 70px;
    }

    .gifts-list-friend-section {
        width: 97%;
        height: 260px;
    }

    .gifts-list-friend-section-inside {
        flex-wrap: nowrap;
        width: 100%;
    }

    .date-end-list-div {
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        font-size: 20px;
    }
}
