/***************************************************/
/* Componente elementos perfil amigo */
/***************************************************/
.section-friend {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 150px;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 0px 6px 24px 0px rgb(47, 47, 47);
    font-family: Inter, sans-serif;
    color: #000000;
}

.section-friend:hover {
    box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
    transition: color 0.5s ease;
}

.friend-profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 1px solid #00ff8b;
}

.friend-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 8%;
}

.friend-info-mobile {
    display: none;
}

/* Componente botones de amigo */
.friend-buttons-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.message-button {
    border-radius: 20px;
    padding: 1%;
    background-color: #E1E1E1;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    border: #00ff8b solid 2px;
    font-family: Inter, sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.message-button:hover {
    background-color: #5CBB81;
    box-shadow: 0px 6px 24px 0px rgb(0, 255, 139);
    color: #000000;
}

.unfollow-button {
    border-radius: 20px;
    padding: 1%;
    background-color: #E1E1E1;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    border: #00ff8b solid 2px;
    font-family: Inter, sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.unfollow-button:hover {
    background-color: #5CBB81;
    box-shadow: 0px 6px 24px 0px rgb(0, 255, 139);
    color: #000000;
}

/***************************************************/
/* Componente de listas y regalos */
/***************************************************/
.section-friend-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0px 6px 24px 0px rgb(47, 47, 47);
    font-family: Inter, sans-serif;
    font-weight: normal;
}

.friend-lists-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line3 {
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background-color: #0B2237;
    margin-top: 2%;
    margin-bottom: 2%;
}

.lists-section {
    border-radius: 20px;
    box-shadow: inset 0px 5px 18px rgba(0, 0, 0, 0.5);
    padding: 3%;
    margin-bottom: 20px;
}

.list-section-inside {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    overflow-y: auto;
    width: 390px;

}

.list-friend-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(11, 34, 55);
    border: #00ff8b solid 1px;
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    margin: 1%;
    color: #ffffff;
}

.list-friend-div:hover {
    box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
}

.selected-list {
    background: rgb(232, 232, 232);
    color: black;
    border: #00ff8b solid 1px;
}

.description-list-friend-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: 63px;
    overflow-y: auto;
    background: #ffffff;
    color: black;
    border: 1px solid #00ff8b;
    padding: 1%;
    border-radius: 20px;
}

.dates-friend-list {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

/***************************************************/
/* Componente lista en vista */
/***************************************************/
.list-view-friend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 900px;

}

.description-view-friend-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 99%;

    height: 70px;
    border: 2px solid #0B2237FF;
    border-radius: 20px;
    overflow-y: auto;
}

.description-view-p {
    margin-left: 1%;
    width: 100%;
    height: 60px;
}

.gifts-list-friend-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 99%;
    height: 320px;
    border-radius: 22px;
    border: 2px solid #0B2237FF;
}

.gifts-view-section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: inset 0px 5px 18px rgba(0, 0, 0, 0.5);
    background: rgb(255, 255, 255);
}

.gift-post-list-div {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin: 1%;
}

.gift-post-info-div {
    height: 80%;
}

.gift-post-img-div {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 250px;
    height: 200px;
}

.gift-post-img {
    border: rgba(255, 255, 255, 0) solid 2px;
    border-radius: 20px;
    width: 250px;
    height: 200px;
}

.gift-post-data-div {
    display: none;
}

.gift-post-info-div:hover .gift-post-data-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 200px;
    border-radius: 20px;
    border: #00ff8b solid 2px;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2300ff8b' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #000000;
    Font-family: Inter, sans-serif;
    font-size: 18px;
}

.gift-post-info-div:hover .gift-post-img-div {
    display: none;
    color: #E2EEF7;
}

.gift-information-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 3%;
}

.booking-button-gift-post {
    margin-top: 8px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid rgb(0, 255, 139);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.booking-button-gift-post.disabled, .booking-button-gift-post.disabled:hover {
    background: #ffffff;
    border: 2px solid #bebebe;
    box-shadow: none;
    color: #9b9b9b;
}

.booking-button-gift-post:hover {
    background: #5CBB81;
    border: 2px solid rgb(0, 255, 139);
    box-shadow: 0px 6px 24px 0px rgb(0, 255, 139);
}

.date-end-list-div {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}

.text-calendar-span {
    font-family: Inter, sans-serif;
    font-size: 15px;
    color: #49A25D;
    margin-right: 2%;
    margin-left: 2%;
}

.date-end-span {
    font-size: 14px;
    margin-right: 1%;
}


/***********************************************/
/*************Version mobile********************/
/***********************************************/
@media screen and (max-width: 768px) {
    .section-friend {
        padding: 2%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 60px;
    }

    .friend-profile-img {
        width: 70px;
        height: 70px;
    }

    .friend-data {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 70px;
    }

    .friend-info-mobile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        border-radius: 15px;
        color: #000000;
        font-size: 19px;
        font-weight: bold;
    }

    .friend-info {
        display: none;
    }

    .friend-buttons-div {
        display: flex;
        flex-direction: column;
        width: 100px;
    }

    .message-button {
        margin-bottom: 20%;
    }

    .section-friend-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 4%;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 20px;
    }

    .friend-lists-div {
        width: 100%;
    }

    .line2 {
        width: 90%;
    }

    .list-section-inside {
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow-x: auto;
        width: 320px;
        height: 200px;
    }

    .list-friend-div {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 20px;
        margin: 1%;
    }

    .list-friend-div:hover {
        box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
    }

    .description-list-friend-div {
        width: 285px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .dates-friend-list {
        display: flex;
        justify-content: space-around;
        width: 95%;
    }

    /* Componente lista en vista de amigo */
    .list-view-friend {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 98%;
        margin-bottom: 80px;
    }

    .description-view-friend-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 68px;
        border: #0B2237 solid 2px;
        border-radius: 20px;
        overflow-y: auto;
    }

    .gifts-list-friend-section {
        align-items: center;
        flex-direction: column;
        width: 98%;
        height: 100%;
        background: none;
        border-radius: 20px;
        margin-bottom: 0%;
    }

    .gifts-view-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 250px;
    }

    .gift-post-img {
        border: #bababa solid 2px;
        border-radius: 20px;
    }

    .gift-buttons-div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .date-end-list-div {
        justify-content: center;
        align-items: center;
    }
}
