/***************************************************/
/* Componente elementos perfil amigo */
/***************************************************/
.section-friend {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 150px;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 0px 6px 24px 0px rgb(47, 47, 47);
    font-family: Inter, sans-serif;
    color: #000000;
}

.section-friend:hover {
    box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
    transition: color 0.5s ease;
}

.friend-profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border-color: #5CBB81;
    border-style: solid;
    box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
}

.friend-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 8%;
}

.friend-info-mobile {
    display: none;
}

/* Componente botones de amigo */
.friend-buttons-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.message-button {
    border-radius: 20px;
    padding: 1%;
    background-color: #E1E1E1;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    border: #5CBB81 solid 1px;
    font-family: Inter, sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.message-button:hover {
    background-color: #5CBB81;
    box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
    color: #000000;
}

.unfollow-button {
    border-radius: 20px;
    padding: 1%;
    background-color: #E1E1E1;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    border: #5CBB81 solid 1px;
    font-family: Inter, sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.unfollow-button:hover {
    background-color: #5CBB81;
    box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
    color: #000000;
}

/***************************************************/
/* Componente de listas y regalos */
/***************************************************/
.section-friend-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0px 6px 24px 0px rgb(47, 47, 47);
    font-family: Inter, sans-serif;
    font-weight: normal;
}

.friend-lists-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line3 {
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background-color: #0B2237;
    margin-top: 2%;
    margin-bottom: 2%;
}

.lists-section {
    border-radius: 20px;
    box-shadow: inset 0px 5px 18px rgba(0, 0, 0, 0.5);
    padding: 3%;
}

.list-section-inside {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    overflow-y: auto;

    width: 430px;
}

.list-friend-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(239, 239, 239);
    border: 1px solid #0B2237;

    width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    margin: 1%;
}

.list-friend-div:hover {
    box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
}

.description-list-friend-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: 63px;
    overflow-y: auto;
    border: 1px solid #0B2237;
    padding: 1%;
    border-radius: 20px;
}

.dates-friend-list {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

/* Componente de lista en vista de amigo */
.list-view-friend-div {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 1%;
    background: #ffffff;
}

.description-list-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 97%;

    height: 70px;
    border: 1px solid #0B2237;
    border-radius: 20px;
    overflow-y: auto;
}

.description-p {
    margin-left: 1%;
    width: 100%;
    height: 60px;
}

.gifts-list-friend-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 850px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 2px 13px 0px rgb(92, 187, 129);
}

.gifts-view-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    overflow-y: auto;
    border-radius: 20px;
    border: #5CBB81 solid 2px;
    box-shadow: inset 0px 5px 18px rgba(0, 0, 0, 0.5);
}

.gift-post-list-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.gift-post-img-div {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 250px;
    height: 200px;
}

.gift-post-img {
    border: #bcbcbc solid 2px;
    border-radius: 20px;
}

.gift-post-data-div {
    display: none;
}

.gift-post-info-div:hover .gift-post-data-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background-color: #5CBB81;
    box-shadow: inset 0px 5px 18px rgba(0, 0, 0, 0.5);
}

.gift-post-info-div:hover .gift-post-img-div {
    display: none;
}

.gift-information-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 3%;
}

.booking-button-gift-post {
    width: 30%;
    margin-top: 8px;
    border-radius: 20px;
    background-color: #0F2F4C;
    border: 2px solid rgb(15, 47, 76);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);

    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
}

.booking-button-gift-post:hover {
    background-color: #49A25D;
    border: 2px solid rgb(73, 162, 93);
    box-shadow: 0px 6px 24px 0px rgb(73, 162, 93);
}

.date-end-list-div {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}

.text-calendar-span {
    font-family: Inter, sans-serif;
    font-size: 15px;
    color: #49A25D;
    margin-right: 2%;
    margin-left: 2%;
}


/***********************************************/
/*************Version mobile********************/
/***********************************************/
@media screen and (max-width: 768px) {
    .section-friend {
        padding: 2%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 60px;
    }

    .friend-profile-img {
        width: 70px;
        height: 70px;
    }

    .friend-data {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 70px;
    }

    .friend-info-mobile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        border-radius: 15px;
        color: #000000;
        font-size: 19px;
        font-weight: bold;
    }

    .friend-info {
        display: none;
    }

    .friend-buttons-div {
        display: flex;
        flex-direction: column;
        width: 100px;
    }

    .message-button {
        margin-bottom: 20%;
    }

    .section-friend-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 4%;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 20px;
    }

    .friend-lists-div {
        width: 100%;
    }

    .line2 {
        width: 90%;
    }

    .list-section-inside {
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow-x: auto;
        width: 320px;
        height: 200px;
    }

    .list-friend-div {
        display: flex;
        align-items: center;
        flex-direction: column;
        background: rgb(239, 239, 239);
        border: 1px solid #0B2237;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 20px;
        margin: 1%;
    }

    .list-friend-div:hover {
        box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
    }

    .description-list-friend-div {
        width: 285px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .dates-friend-list {
        display: flex;
        justify-content: space-around;
        width: 95%;
    }

    /* Componente lista en vista de amigo */
    .list-view-friend-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 98%;
        margin-bottom: 80px;
    }

    .data-list-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 50%;
    }

    .description-list-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 68px;
        border: #0B2237 solid 2px;
        border-radius: 20px;
        overflow-y: auto;
    }

    .gifts-list-friend-section {
        align-items: center;
        flex-direction: column;
        width: 98%;
        height: 100%;
        background: none;
        border-radius: 20px;
        margin-bottom: 0%;
    }

    .gifts-view-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 250px;
    }

    .gift-post-img {
        border: #bababa solid 2px;
        border-radius: 20px;
    }

    .gift-buttons-div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .date-end-list-div {
        justify-content: center;
        align-items: center;
    }
}
