.swdefr {
    margin-top: 150px;
    border-color: #00ff8b;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3%;
    padding-left: 3%;
    font-family: Inter, sans-serif;
}

.my-lists {
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 6%;
}

.line-div2 {
    width: 270px;
    border-color: #F25E7A;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    margin: 2%;
}

.lists-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3%;
    width: 270px;
    height: 600px;
    background: rgba(0, 143, 182, 0);
    border-radius: 20px;
    overflow-y: auto;
}


.list-div {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    background: rgb(226, 238, 247);
    padding-left: 4%;
    padding-right: 5%;
    border-radius: 20px;
    margin: 1%;
}

.description1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 1%;
    border-color: #F25E7A;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

.dates-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.editList-button-div {
    margin-bottom: 3%;
}

.editList-button {
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #F25E7A;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #F25E7A;
    font-size: 15px;
    text-align: center;
}

.editList-button:hover {
    background-color: #F25E7A;
    color: #ffffff;
}

.create-list-button {
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #F25E7A;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #F25E7A;
    font-size: 15px;
    text-align: center;
    margin: 8%;
}

.create-list-button:hover {
    background-color: #F25E7A;
    color: #ffffff;
}





/* Lista en vista */


.list-view {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    border-color: #bd0000;
    border-style: solid;

}

.name-list-input{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 700px;
    height: 5px;
    border-radius: 20px;
    border-color: #F25E7A;
    padding: 2%;
    margin-bottom: 2%;
    border-style: solid;
    font-family: Inter, sans-serif;
    font-weight: bold;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.description-list-input {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 700px;
    height: 20px;
    border-radius: 20px;
    border-color: #F25E7A;
    padding: 2%;
    margin-bottom: 2%;
    border-style: solid;
    font-family: Inter, sans-serif;
    text-align-all: center;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.gifts-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 690px;
    height: 500px;
    background: #035AA6;
    border-radius: 20px;
    padding: 3%;
    margin-bottom: 2%;
}

.list-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 2%;
}

.save-list-button {
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #F25E7A;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #F25E7A;
    font-size: 15px;
    text-align: center;
    margin: 2%;
}

.save-list-button:hover {
    background-color: #F25E7A;
    color: #ffffff;
}

.delete-list-button {
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #535353;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: rgb(83, 83, 83);
    font-size: 15px;
    text-align: center;
    margin: 2%;
}

.delete-list-button:hover {
    background-color: #535353;
    color: #ffffff;
}

.date-end-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40%;
}

.calendar-icon{
    width: 30px;
    height: 30px;
    margin-right: 2%;
}

.text-calendar {
    font-family: Inter, sans-serif;
    font-size: 15px;
    color: #F25E7A;
    margin-right: 2%;
    margin-left: 2%;
}

.end-date-list-input {
    border-radius: 20px;
    border-color: #F25E7A;
    border-style: solid;
    border-width: 2px;
    font-family: Inter, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 2%;
    margin-left: 2%;
}




