/***************************************************/
/* Componente listas usuario */
/***************************************************/
.user-lists-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 2%;
    font-family: Inter, sans-serif;
}

/***************************************************/
/* Componente listas */
/***************************************************/
.my-lists-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

.line3 {
    width: 100%;
    height: 3px;
    border-radius: 100px;
    background-color: #0B2237;
    margin-top: 2%;
    margin-bottom: 2%;
}

.user-list-section {
    border-radius: 20px;
    box-shadow: inset 0px 5px 18px rgba(0, 0, 0, 0.5);
    padding: 3%;
    margin-bottom: 20px;
}

.user-list-section-inside {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    overflow-y: auto;
    width: 390px;
}

.list-user-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(11, 34, 55);
    border: 1px solid #0B2237;
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    margin: 1%;
    color: #ffffff;
}

.list-user-div:hover {
    box-shadow: 0px 6px 24px 0px rgb(0, 255, 139);
}

.selected-list {
    background: rgb(232, 232, 232);
    color: black;
    border: 1px solid #00FF8BFF;
}

.description-list-user-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: 63px;
    overflow-y: auto;
    background: #ffffff;
    color: black;
    border: 1px solid #00ff8b;
    padding: 1%;
    border-radius: 20px;
}

.dates-user-list {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.editList-button-user {
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #00ff8b;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    padding: 2%;
    margin-bottom: 2%;
    font-family: Inter, sans-serif;
    color: #000000;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.editList-button-user:hover {
    background-color: #5CBB81;
    box-shadow: 0px 6px 24px 0px rgb(0, 255, 139);
}

.create-list-button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #5CBB81;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #5CBB81;
    font-size: 20px;
    text-align: center;
    margin-top: 4%;
}

.create-list-button:hover {
    background-color: #5CBB81;
    box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
    color: #000000;
}


/***************************************************/
/* Componente lista en vista */
/***************************************************/
.list-view {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 900px;
}

.list-view-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 2%;
}

.name-list-input{
    width: 100%;
    height: 10px;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 2%;
    border: 2px solid #5CBB81;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.description-list-input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #5CBB81;
    padding: 2%;
    margin-bottom: 2%;
    overflow-y: auto;

    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.gifts-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    height: 320px;
    background: rgb(11, 34, 55);
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    padding: 2%;
    margin-bottom: 2%;
}

.gifts-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    color: #ffffff;
}

.add-gift-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
    height: 40px;
}

/* Boton añadir regalo */
.add-gift-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #5CBB81;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #5CBB81;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

.add-gift-button:hover {
    background-color: #5CBB81;
    color: #000000;
    box-shadow: 0px 6px 24px 0px rgb(92, 187, 129);
}

/* Componente pantalla overlay de regalos */
.gifts-products-div {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}
.gifts-products-div:target {
    visibility: visible;
    opacity: 1;
}

.gift-products-main-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: #0B2237;
    border-radius: 20px;
    color: #E2EEF7;
    width: 70%;
    height: 430px;
    position: relative;
}

.gift-products-main-div .close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fafafa;
}
.gift-products-main-div .close-button:hover {
    color: #5CBB81;
}

.search-bar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

/* Componente elemento buscador */
.search-box-gift-input {
    display: flex;
    justify-content: center;
    align-content: space-between;
    width: 500px;
    height: 40px;
    background: rgba(95, 95, 95, 0.4);
    border-radius: 100px;
}

.dropdown-categories-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #49A25D;
    width: 100px;
    height: 40px;
    border:none;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    z-index: 2;
}

.dropdown-content {
    display: none;
}

.dropdown-categories-div:hover .dropdown-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    height: 300px;
    top: 65px;
    margin-left: 80px;
    padding: 20px 10px 10px;
    border-radius: 0 20px 20px 20px;
    background-color: #49A25D;
    color: #E2EEF7;
    min-width: 160px;
    z-index: 1;
    overflow-y: auto;
}

.category-name {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    padding: 1%;
}

.category-name:hover {
    background: #ffffff;
    color: #000;
    border-radius: 10px;
    padding: 1% 3%;
}

.search-box-gift {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.search-gift {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 100px 0 0 100px;
    border: none;
    width: 100%;
    height: 100%;
    font-family: Inter, sans-serif;
    text-align: center;
    color: white;
}

.search-button-gift {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: #00ff8b 2px solid;
    background: #0B2237;
    width: 20%;
    height: 100%;
    font-family: Inter, sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

.search-button-gift:hover {
    border: #00ff8b 2px solid;
    background: #49A25D;
}

.search-icon-gift {
    width: 20px;
    height: 20px;
}

.products-results-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    color: #ffffff;
}

.products-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 65%;
    border-radius: 20px;
    padding: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.product-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background: #ffffff;
    color: black;
    border-radius: 20px;
    padding: 2%;
    margin: 1%;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.product-data-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.add-product-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    background: #ffffff;
    border-radius: 20px;
    border: #00ff8b solid 2px;
    font-family: Inter, sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: center;
}

.add-product-button:hover {
    box-shadow: 0px 6px 24px 0px rgb(0, 255, 139);
    background-color: #49A25D;
    color: #ffffff;
}

/* Componente regalos en vista */
.gifts-view-section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    overflow-y: auto;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: rgb(255, 255, 255);
}

.message-gifts {
    margin: 2%;
    color: #878787;
}

.gift-post-div {
    display: flex;;
    align-items: stretch;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin: 1%;
}

.gift-info-div {
    height: 80%;
}

.gift-img-div {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 250px;
    height: 200px;
}

.gift-img {
    border: rgba(255, 255, 255, 0) solid 2px;
    border-radius: 20px;
    width: 250px;
    height: 200px;
}

.gift-data-div {
    display: none;
}

.gift-info-div:hover .gift-data-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 200px;
    border-radius: 20px;
    border: #00ff8b solid 2px;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2300ff8b' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #000000;
    Font-family: Inter, sans-serif;
    font-size: 18px;
}

.gift-info-div:hover .gift-img-div {
    display: none;
    color: #E2EEF7;
}

.gift-information-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 3%;
}

/* Gift post buttons*/
.gift-buttons-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.move-gift-button {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.move-gift-button:hover {
    background: #a0a0a0;
}

.move-gift-icon {
    width: 25px;
    height: 25px;
}

/* Elemento pantalla overlay de mover regalo */
.move-gift-div {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}
.move-gift-div:target {
    visibility: visible;
    opacity: 1;
}

.move-gift-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0B2237;
    border-radius: 20px;
    color: #ffffff;
    width: 500px;
    height: 150px;
    padding: 20px;
    position: relative;
}

.move-gift-main-div .close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fafafa;
}

.move-gift-main-div .close-button:hover {
    color: #49A25D;
}

.move-gift-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 500px;
    height: 50px;
    background: #ffffff;
    border-radius: 100px;
}

/* Elemento dropdown mover regalo */
.dropdown-list-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-lists-names {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    padding: 2%;
}

.dropdown-lists-names:hover {
    background: #ffffff;
    color: #000;
    border-radius: 10px;
    padding: 2%;
}
.list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #49A25D;
    width: 100px;
    height: 50px;
    border:none;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}

.dropdown-list {
    display: none;
}

.dropdown-list-div:hover .dropdown-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    width: 220px;
    height: 100%;
    top: 132px;
    padding: 10px;
    margin-left: 140px;
    border-radius: 0 20px 20px 20px;
    background-color: #49A25D;
    color: #ffffff;
    z-index: 1;
    overflow-y: auto;
    overflow-x: auto;
}

.list-moved-input {
    width: 100%;
    height: 90%;
    padding-left: 2%;
    background: none;
    border: none;
}

.move-button {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background: #ffffff;
    border: #00ff8b solid 2px;
    font-family: Inter, sans-serif;
    color: #5CBB81;
    font-size: 15px;
    text-align: center;
}

.move-button:hover {
    background-color: #5CBB81;
    color: #ffffff;
}

.remove-button {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.remove-button:hover {
    background: #a0a0a0;
}

.remove-gift-icon {
    width: 25px;
    height: 25px;
}

.list-buttons-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
}

.save-delete-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-list-button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #5CBB81;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #5CBB81;
    font-size: 15px;
    text-align: center;
}

.save-list-button:hover {
    background-color: #5CBB81;
    color: #ffffff;
}

.delete-list-button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #535353;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: rgb(83, 83, 83);
    font-size: 15px;
    text-align: center;
    margin-left: 20px;
}

.delete-list-button:hover {
    background-color: #535353;
    color: #ffffff;
}

.date-end-div {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calendar-icon{
    width: 30px;
    height: 30px;
    margin-right: 2%;
}

.text-calendar {
    font-family: Inter, sans-serif;
    font-size: 15px;
    color: #5CBB81;
    margin-right: 2%;
    margin-left: 2%;
}

.end-date-list-input {
    border-radius: 20px;
    border-color: #5CBB81;
    border-style: solid;
    border-width: 2px;
    font-family: Inter, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 2%;
    margin-left: 2%;
}


/***********************************************/
/*************Version mobile********************/
/***********************************************/
@media screen and (max-width: 767px) {
    .user-lists-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .my-lists-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .user-list-section {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 220px;
        background: rgba(0, 143, 182, 0);
        border-radius: 20px;
        overflow-y: auto;
        font-size: 12px;
    }

    .user-list-section-inside {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .list-user-div {
        height: 200px;
        padding-left: 1%;
        padding-right: 1%;
    }

    .description-list-user-div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 290px;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
        border-width: 2px;
        border-radius: 20px;
    }

    .dates-user-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .editList-button-user {
        border-radius: 20px;
        background-color: #f2f2f2;
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
        font-family: Inter, sans-serif;
        color: #000000;
        font-size: 15px;
        text-align: center;
    }

    .editList-button-user:hover {
        background-color: #5CBB81;
        box-shadow: 0px 6px 24px 0px rgb(0, 255, 139);
        color: #000000;
    }

    .create-list-button {
        width: 20%;
        height: 40px;
        border-radius: 20px;
        background-color: #f2f2f2;
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
        font-family: Inter, sans-serif;
        color: #5CBB81;
        font-size: 12px;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 3%;
    }

    /* Componente lista en vista */
    .list-view {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 97%;
        margin-top: 2%;
        margin-right: 0%;
        margin-bottom: 0%;
    }

    .name-list-input {
        width: 100%;
        height: 40px;
        border-radius: 20px;
        border: 2px solid #5CBB81;
        color: rgba(0, 0, 0, 0.4);
        margin-bottom: 3%;
    }

    .description-list-input {
        width: 100%;
        height: 50px;
        border-radius: 20px;
        border: 2px solid #5CBB81;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.4);
        margin-bottom: 3%;
        overflow-y: auto;
    }

    .gifts-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 320px;
        padding: 2%;
        margin-bottom: 0;
    }

    .gifts-div {
        width: 100%;
        color: #ffffff;
    }


    .add-gift-div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100px;
        height: 40px;
    }

    /* Boton añadir regalo */
    .add-gift-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 30px;
        border-radius: 20px;
        background-color: #f2f2f2;
        border: 2px solid #5CBB81;
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
        font-family: Inter, sans-serif;
        color: #5CBB81;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
    }

    /* Elemento pantalla overlay de regalos */
    .gift-products-main-div {
        width: 90%;
        height: 60%;
        position: relative;
    }

    .search-bar-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 20%;
    }

    /* Elemento buscador */
    .search-box-gift-input {
        width: 80%;
        height: 40px;
    }

    .dropdown-categories-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-categories-div:hover .dropdown-content {
        height: 40%;
        top: 47px;
        overflow-y: auto;
    }

    .products-results-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .product-div {
        font-size: 10px;
    }

    .product-data-div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .add-product-button {
        font-size: 10px;
    }

    /* Elemento regalos en vista */
    .gifts-view-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 250px;
        overflow-x: auto;
    }

    /* Componente pantalla overlay de mover regalo */
    .move-gift-main-div {
        width: 80%;
    }

    .move-gift-bar {
        width: 100%;
        height: 50px;
    }

    /* Elemento botones lista */
    .list-buttons-div {
        align-items: flex-start;
        margin-top: 2%;
        height: 50px;
    }

    .save-delete-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0%;
    }

    .save-list-button {
        width: 50%;
        height: 40px;
    }

    .delete-list-button {
        width: 50%;
        height: 40px;
    }

    .date-end-div {
        width: 50%;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .text-calendar{
        display: none;
    }

}




