.section-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    background: #035AA6;
    border-radius: 20px;
    padding: 2%;
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 150px;
    font-family: Inter, sans-serif;
    color: #E2EEF7;
}

.user-img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.user-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 8%;
}

.edit-profile-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.edit-profile-button{
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #f2f2f2;
    border: 2px solid #F25E7A;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #F25E7A;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.edit-profile-button:hover{
    background-color: #F25E7A;
    color: #ffffff;
}


/* Elementos del usuario */
.section-user-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 30%;
    margin-top: 3%;
    font-family: Inter, sans-serif;
    font-weight: normal;
}

.elements-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.section-template {
    width: 380px;
    height: 450px;
    border-radius: 20px;
    overflow-y: auto;
    padding: 3%;
}

.section-template::-webkit-scrollbar {
    width: 0px;
}

/* Elementos de la sección de amigos */
.friend-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(226, 238, 247);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    margin: 1%;
}

.friend-route-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    width: 100%;
    color: #000000;
}

.friend-img {
    width: 30%;
    height: 30%;
    margin-right: 0.5%;
}

.friend-text {
    margin-left: 1%;
    height: 100%;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 13px;
}

.friend-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 2%;
}

.friend-button {
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #F25E7A;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #F25E7A;
    font-size: 12px;
    text-align: center;
    margin-left: 2%;
}

.friend-button:hover {
    background-color: #F25E7A;
    color: #ffffff;
}

/* Elementos de la sección de reservas */
.booking {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(226, 238, 247);
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20px;
    margin: 1%;
}

.booking-img {
    margin-left: 2%;
    margin-right: 0.5%;
    border-radius: 15px;
    border-color: #787878;
    border-style: solid;
    border-width: 2px;
}

.booking-text {
    margin-left: 1%;
    height: 100%;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 13px;
}

.cancel-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    margin-right: 2%;
}

.cancel-button {
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #F25E7A;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    color: #F25E7A;
    font-size: 12px;
    text-align: center;
    margin-left: 2%;
}

.cancel-button:hover {
    background-color: #F25E7A;
    color: #ffffff;
}

/* Elementos de la sección de listas */
.list {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    background: rgb(226, 238, 247);
    padding-left: 4%;
    padding-right: 5%;
    border-radius: 20px;
    margin: 1%;
}

.description {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 1%;
    border-color: #F25E7A;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

.dates-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.editList-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    width: 100%;
}

.editList-button {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #f2f2f2;
    border: 2px solid #F25E7A;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    padding: 2%;
    font-family: Inter, sans-serif;
    color: #F25E7A;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.editList-button:hover {
    background-color: #F25E7A;
    color: #ffffff;
}

.line-div1 {
    width: 380px;
    height: 2px;
    background-color: #F25E7A;
    margin-top: 2%;
    margin-bottom: 2%;
}


