.sectionUser{
    display: flex;
    height: 30%;
}

.userImg{
    width: 15%;
    height: 15%;
    border-radius: 20%;
}

.editProfile{
    width: 65%;
    height: 35%;
    border-radius: 20%;
    background-color: #f2f2f2;
}

